<div class="footer">
  <%# Header of the Footer %>
  <div class="header-footer">
    <h3>CONTACT</h3>
    <div class="btn-footer">
      <%= link_to 'Prendre rendez-vous', new_contact_path, class: 'a-footer' %>
      <%= link_to new_contact_path do %>
      <%= image_tag('svg-components/arrow-rdv.svg', class: 'arrow') %>
      <% end %>
    </div>
  </div>
  <%# Body of the Footer %>
  <div class="body-footer">
  <%# Info section %>
    <div class="infos-footer">
      <div class="address">
        <h4>ADRESSE</h4>
        <p>15 rue du château <br> 75001 Paris, France</p>
        <h4>CONTACT</h4>
        <p>01 23 45 67 89 <br> info@monsite.fr</p>
      </div>
  <%# Schedule of the institut %>
      <div class="schedule">
        <h4>HORAIRES D'OUVERTURE</h4>
        <p>LUN-Ven:<br> 10H-19h</p>
        <p>Sam-Dim :<br> 11h - 16h </p>

      </div>
    </div>
  <%# create contact %>
    <div class="form-footer">
      <%= simple_form_for(@contact) do |f| %>
        <%= f.input :name, placeholder: "Nom", label: false, input_html: { class: 'input-send' } %>
        <%= f.input :email, placeholder: "Email", label: false, input_html: { class: 'input-send' } %>
        <%= f.input :content, placeholder: "Message", label: false, input_html: { class: 'input-send' } %>
        <%= f.submit 'Envoyer', class: 'btn-send' %>
      <% end %>
    </div>
  </div>
  <%# Footer of the Footer %>
  <div class="footer-footer">

    <div class="last-footer">
      <div class="created-by">
        <p>© 2022 Intitut Moula. Crée par <%= link_to 'Rayane', "rayanemoula.fr" %></p>
      </div>
      <div class="medias-footer">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>
</div>
