<nav class="nav-container px-3" data-controller="navbar">
  <div class="logo" data>
      <%= image_tag 'https://arnaudvallee.com/thumbs/1200x800c/2016-02/1456305881_logoinstitutdebeaute.jpg', class: 'logo-img'%>
  </div>
    <div class="menu" data-action="load->navbar#load" data-navbar-target="nav">
      <%= link_to 'ACCEUIL', root_path, class: 'btn-nav', data: { action: 'click->navbar#close' } %></li>
      <%= link_to 'PRESTATIONS', prestations_path, class: 'btn-nav', data: { action: 'click->navbar#close' } %></li>
      <%= link_to 'CONTACT', new_contact_path, class: 'btn-nav', data: { action: 'click->navbar#close' } %></li>
      <%= link_to 'BLOG', articles_path, class: 'btn-nav', data: { action: 'click->navbar#close' } %></li>
    </div>
    <div class="hamburger" data-action="click->navbar#menu" data-navbar-target="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div> 
</nav>
